@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
  --color-white: #e1e1e6;
  --color-primary: #8257e5;
  --color-secondary: #fd951f;
  --color-background: #121214;
  --color-background-header: #202024;
}

/* Global ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
}

/* Index/Sobre ============ */
header {
  background-color: var(--color-background-header);
  padding: 30px;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--color-white);
}

.links a:hover {
  color: var(--color-primary);
  font-weight: 500;
  transition: color 300ms;
}

main {
  text-align: center;
  padding: 32px;
}

main img {
  border-radius: 50%;
  border: 3px solid var(--color-primary);
}

main h1 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 16px;
  font-weight: 500;
  color: var(--color-secondary);
}

main p {
  max-width: 380px;
  margin: 8px auto 0;
  font-size: 16px;
  line-height: 22px;
}

main ul {
  list-style: none;
  margin-top: 8px;
}

main ul li {
  font-size: 12px;
  line-height: 22px;
  display: inline;
  margin-top: 0 8px;
  font-weight: 500;
  color: var(--color-primary);
}

footer {
  text-align: center;
}

footer a {
  border-bottom: 1px solid var(--color-primary);
}

/* Página Conteudos ============ */
#post-title {
  margin-bottom: 32px;
}

/* Cards ============ */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-background-header);
  border-radius: 8px;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  width: 100%;
  border: 0;
  border-radius: 8px 8px 0 0;
}

.card__content,
.card__info {
  padding: 24px;
}

.card__content p,
.card__info p {
  margin: 0;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.card__info p {
  display: flex;
  align-items: center;
}

.card__info i {
  margin-right: 4px;
}

.card__author {
  background-color: var(--color-primary);
  color: #fff;
  filter: brightness(90%);
  border-radius: 20px;
  padding: 8px 16px;
}

/* Modal ============ */
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  width: 75%;
  height: 75%;
  background-color: var(--color-white);
  margin: 12.5vh auto;
}

.modal.maximized {
  width: 100%;
  height: 100%;
  margin: 0;
}

.modal .close-modal {
  position: absolute;
  color: var(--color-background);
  top: 7px;
  right: 8px;
  cursor: pointer;
}

.modal .maximize-modal {
  position: absolute;
  color: var(--color-background);
  top: 8px;
  right: 34px;
  cursor: pointer;
}

.modal .maximize-modal i {
  font-size: 20px;
}

.modal-content iframe {
  position: absolute;
  width: 100%;
  height: 93%;
  top: 7%;
}